# Copyright: 2007 Eike Welk
# License: GPL
#
# File list for source distribution
#
# This file is read by the setup script "setup.py" to determine which
# files will be included in a source distribution, additional to those
# mentioned in the script.
# The files mentioned here, will however not be installed.

#legal
include COPYING
include COPYING.LIB

#user info
include README

#highlighting for kate
include hl_siml.xml

#example-models
include models/biological/bioreactor_simple.siml
include models/biological/bioreactor.siml

include models/biological/competition_parameter_variation.py
include models/biological/competition_phase_diagrams.py
include models/biological/competition.siml

include models/biological/predator_prey_2_hunting_scenarios.py
include models/biological/predator_prey_2_phase_diagrams.py
include models/biological/predator_prey_2.siml

include models/biological/predator_prey_phase_diagrams.py
include models/biological/predator_prey.siml

include models/mechanical/tank.siml
include models/mechanical/tuned_abs_damper.siml

#this file
include MANIFEST.in
