# Copyright: 2007 Eike Welk
# License: GPL
#
# File list for source distribution
#
# This file is read by the setup script "setup.py" to determine which
# files will be included in a source distribution, additional to those
# mentioned in the script.
# The files mentioned here, will however not be installed.

#legal
include COPYING
include COPYING.LIB

#user info
include README

#highlighting for kate
include hl_siml.xml

#examples
include tank.siml
include tuned_abs_damper.siml
bioreactor.siml
bioreactor_simple.siml

#this file
include MANIFEST.in
