[Desktop Entry]
Icon=www
Name=http://www.iolanguage.com/scm/git/checkout/Io/docs/IoGuide.html
Type=Link
URL[$e]=http://www.iolanguage.com/scm/git/checkout/Io/docs/IoGuide.html
