body
{
    background-image: url(bkd.gif);
    background-color: #FFFFFF;
    margin: 1em 2em 1em 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1
{
    text-align: left;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h2
{
    text-align: left;
    font-weight: bold;
    font: 140% sans-serif;
}

h3
{
    text-align: left;
    font-weight: bold;
    font: 120% sans-serif;
}

h4
{
    text-align: left;
    font-weight: bold;
    font: bold 100% sans-serif;
}

h5
{
    text-align: left;
    font-weight: bold;
    font: italic 100% sans-serif;
}

h6
{
    text-align: left;
    font-weight: bold;
    font: small-caps 100% sans-serif;
}


img
{
    border-width: 0px;
}

pre
{
    border-top: gray 1pt solid;
    border-right: gray 1pt solid;
    border-left: gray 1pt solid;
    border-bottom: gray 1pt solid;

    padding-top: 2pt;
    padding-right: 2pt;
    padding-left: 2pt;
    padding-bottom: 2pt;

    display: block;
    background-color: #eeeeee;

    font-size: small;
    font-family: "courier new", courier, mono, sans-serif;
}

code
{
    font-size: small;
    font-family: "Courier New", Courier, mono, sans-serif;
}

tt
{
    display: inline;
    color: #000099;
    font-size: small;
    font-family: "Courier New", Courier, mono, sans-serif;
}

p
{
    text-align: justify;
    font-family: Georgia, "Times New Roman", Times, serif;
}

ul
{
    list-style-image: url(bullet.gif);
    font-family: Georgia, "Times New Roman", Times, serif;
}

ol
{
    font-family: Georgia, "Times New Roman", Times, serif;
}

a
{
    font-weight: bold;
    color: #003366;
    text-decoration: none;
}

a:hover { color: #8080FF; }

.literal        {  color: #666666; font-style: italic; }
.keyword        {  color: #000099; }
.identifier     {}
.comment        {  font-style: italic; color: #990000; }
.special        {  color: #800040; }
.preprocessor   {  color: #FF0000; }
.string         {  font-style: italic; color: #666666; }
.copyright      {  color: #666666; font-size: small; }
.white_bkd      {  background-color: #FFFFFF; }
.dk_grey_bkd    {  background-color: #999999; }
.quotes         {  color: #666666; font-style: italic; font-weight: bold; }

.note_table
{
    margin: auto;
    width: 80%;
    margin-top: 10px;
}

.note_box
{
    text-align: justify;
    display: block;

    border-top: gray 1pt solid;
    border-right: gray 1pt solid;
    border-left: gray 1pt solid;
    border-bottom: gray 1pt solid;

    padding-right: 12pt;
    padding-left: 12pt;
    padding-bottom: 12pt;
    padding-top: 12pt;

    background-color: #E2E9EF;

    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.title
{
    background-image: url(bkd2.gif);
    background-color: #AAAAAA;

    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 10px;

    font-weight: bold;
    font-size: xx-large;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


.user_table
{
    margin: auto;
    width: 90%;
    margin-top: 10px;
}


.table_title
{
    background-color: #648CCA;

    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;

    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF;
}


.table_cells
{
    background-color: #E2E9EF;

    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;

    font-size: small;
    font-family: Geneva, Arial, Helvetica, san-serif;
}

.toc_table
{
    margin: auto;
    width: 80%;
    margin-top: 10px;
}

.toc
{
    DISPLAY: block;
    background-color: #E2E9EF;

    border-top: gray 1pt solid;
    border-left: gray 1pt solid;
    border-bottom: gray 1pt solid;
    border-right: gray 1pt solid;

    padding-top: 24pt;
    padding-right: 24pt;
    padding-left: 24pt;
    padding-bottom: 24pt;

    font-family: Arial, Helvetica, sans-serif;
}

.toc_title
{
    background-color: #648CCA;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    color: #FFFFFF;

    font-weight: bold;
    font-family: Geneva, Arial, Helvetica, san-serif;
}

.toc_cells
{
    background-color: #E2E9EF;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;

    font-size: small;
    font-family: Geneva, Arial, Helvetica, san-serif;
}

div.logo
{
	float: right;
}

.toc_cells_L0
{
    background-color: #E2E9EF;

    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;

    font-size: small;
    font-family: Geneva, Arial, Helvetica, san-serif;
}

.toc_cells_L1
{
    background-color: #E2E9EF;

    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 44px;

    font-size: small;
    font-family: Geneva, Arial, Helvetica, san-serif;
}

.toc_cells_L2
{
    background-color: #E2E9EF;

    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 88px;

    font-size: small;
    font-family: Geneva, Arial, Helvetica, san-serif;
}

.toc_cells_L3
{
    background-color: #E2E9EF;

    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 122px;

    font-size: small;
    font-family: Geneva, Arial, Helvetica, san-serif;
}

.toc_cells_L4
{
    background-color: #E2E9EF;

    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 166px;

    font-size: small;
    font-family: Geneva, Arial, Helvetica, san-serif;
}
