[Desktop Entry]
Icon=www
Name=http://www.cam.cornell.edu/%7Erclewley/cgi-bin/moin.cgi/
Type=Link
URL=http://www.cam.cornell.edu/%7Erclewley/cgi-bin/moin.cgi/
