[Desktop Entry]
Icon=text-html
Name=http://en.wikipedia.org/wiki/Finite_pointset_method
Type=Link
URL[$e]=http://en.wikipedia.org/wiki/Finite_pointset_method
