[Desktop Entry]
Icon=text-html
Name=http://en.wikipedia.org/wiki/Moving_particle_semi-implicit
Type=Link
URL[$e]=http://en.wikipedia.org/wiki/Moving_particle_semi-implicit
