[Desktop Entry]
Icon=text-html
Name=http://en.wikipedia.org/wiki/Partition_of_unity
Type=Link
URL[$e]=http://en.wikipedia.org/wiki/Partition_of_unity
