[Desktop Entry]
Icon=www
Name=http://spirit.sourceforge.net/distrib/spirit_1_8_3/libs/spirit/index.html
Type=Link
URL=http://spirit.sourceforge.net/distrib/spirit_1_8_3/libs/spirit/index.html
