[Desktop Entry]
Icon=www
Name=http://www.servocomm.freeserve.co.uk/Cpp/physical_quantity/index.html
Type=Link
URL=http://www.servocomm.freeserve.co.uk/Cpp/physical_quantity/index.html
