[Desktop Entry]
Icon=www
Name=http://www-sul.stanford.edu/depts/eng/highlights/EE/383.html
Type=Link
URL=http://www-sul.stanford.edu/depts/eng/highlights/EE/383.html
