[Desktop Entry]
Icon=www
Name=http://www.dalkescientific.com/Python/python4ply.html
Type=Link
URL[$e]=http://www.dalkescientific.com/Python/python4ply.html
