[Desktop Entry]
Icon=www
Name=http://developer.mozilla.org/en/docs/Core_JavaScript_1.5_Guide
Type=Link
URL=http://developer.mozilla.org/en/docs/Core_JavaScript_1.5_Guide
