[Desktop Entry]
Icon=www
Name=http://www.ida.liu.se/%7Epelab/modelica/OpenModelica.html
Type=Link
URL=http://www.ida.liu.se/%7Epelab/modelica/OpenModelica.html
