[Desktop Entry]
Icon=www
Name=http://www.digitalmars.com/d/2.0/templates-revisited.html
Type=Link
URL[$e]=http://www.digitalmars.com/d/2.0/templates-revisited.html
