  body, p /*a*/ {
    color: black; background-color: white;
    font-size: 100.01%;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0; /*padding: 0.1em;*/
    /*min-width: 41em; *//* Mindestbreite verhindert Umbruch und Anzeigefehler in modernen Browsern */
  }


  /*Header ----------------------------------------------------------*/
  div#header {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 0.7em; padding: 0.3em;
    text-align: center;
    background-color: #FFCE31;
    border: 2px ridge gray;
  }
  /*html>body h1 {
    border-color: gray;*/  /* Farbangleichung an den Internet Explorer  */
/*   } */


  /*Navigation Whole Web-Site----------------------------------------------------------*/
  div#navigation_site {
    font-size: 0.83em;
    font-weight: bold;
    float: left; width: 15em;
    margin: 0 0 0em 0em;
/*     padding: 0; */
/*     border: 1px dashed silver; */
    text-align: center;
  }
  div#navigation_site li {
    list-style: none;
    margin: 0em 0em 0em -3em;
    padding: 0.5em;

  }
  div#navigation_site a {
    display: block;
    padding: 0.2em;
    font-weight: bold;
    text-align: left;
  }
  div#navigation_site a:link {
    color: black; background-color: #EAECEF;
  }
  div#navigation_site a:visited {
    color: #666; background-color: #EAECEF;
  }
  div#navigation_site a:hover {
    color: black; background-color: white;
  }
  div#navigation_site a:active {
    color: white; background-color: gray;
  }


  /*Navigation Inside Page----------------------------------------------------------*/
  div#navigation_page {
    font-size: 0.83em;
    font-weight: bold;
    clear:left;
    float: left;
    width: 15em;
    margin: 0 0 0em 0em;
/*     padding: 0; */
/*     border: 1px dashed silver; */
    text-align: center;
  }
  div#navigation_page li {
    list-style: none;
    margin: 0em 0em 0em -3em;
    padding: 0.5em;

  }
  div#navigation_page a {
    display: block;
    padding: 0.2em;
    font-weight: bold;
    text-align: left;
  }
  div#navigation_page a:link {
    color: black; background-color: #EAECEF;
  }
  div#navigation_page a:visited {
    color: #666; background-color: #EAECEF;
  }
  div#navigation_page a:hover {
    color: black; background-color: white;
  }
  div#navigation_page a:active {
    color: white; background-color: gray;
  }


  /*Info ----------------------------------------------------------*/
  div#info {
    font-size: 0.9em;
    float: right; width: 12em;
    margin: 0 0 1.1em; padding: 0;
    background-color: #eee; /*border: 1px dashed silver;*/
  }
  div#info h2 {
    font-size: 1.33em;
    margin: 0.2em 0.5em;
  }
  div#info p {
    font-size: 1em;
    margin: 0.5em;
  }


  /*Contents ----------------------------------------------------------*/
  div#contents {
    margin: 0em 0em 0em 12em;
    padding: 1em 1em 1em 1em;
/*     border: 1px dashed silver; */
  }
/*  * html div#contents {
    height: 1em;*/  /* Workaround gegen den 3-Pixel-Bug des Internet Explorers */
/*  } */
/*  div#contents h2 {
    font-size: 1.2em;
    margin: 0.2em 0;
  }*/
  div#contents p {
    font-size: 1em;
    margin: 0 0 0.5em 0;
  }


  /*Code ----------------------------------------------------------*/
  div#code {
    /*margin: 0em 0em 0em 12em;*/
    /*padding: 1em 1em 1em 1em;*/
    border: 1px ridge gray;
    background-color: #FFF8ED;
  }

  /*Footer ----------------------------------------------------------*/
  div#footer {
    clear: both;
    font-size: 0.7em;
    margin: 0; padding: 0.1em;
    text-align: center;
    /*background-color: #B3B3B3; border: 2px ridge silver;*/
  }